#topBarBlock, #groupListBlock, #taskListBlock {  clear: both }

/* TOP BAR BLOCK
   ================================================== */

#topBarBlock {  margin-bottom: 10px }

 #topBarBlock > * {  display: inline }

 #topBarBlock > button {  float: right }

/* GROUP BLOCK
   ================================================== */

#groupListBlock {
  text-align: center;
  margin-bottom: 20px;
}

#groupList, ul li {  display: inline }

 #groupList li {
   visibility: hidden;
   display: none;
 }

 #groupList .selected {
   visibility: visible;
   display: inline;
 }

#prevGroupBtn {  float: left }

#nextGroupBtn {  float: right }

#groupList li div {  display: inline }

#groupListBlock .action {
  display: inline-block;
  float: right;
  width: 34px;
  height: 36px;
  padding: 5px 10px;
  border: 2px solid #4da6ea;
  background: #EEEEEE url('../images/menu-gray_32x32.png') no-repeat;
}

/* TASK BLOCK
   ================================================== */

#taskListBlock li {
  list-style: none;
  display: block;
}

#taskListBlock .complete {
  text-decoration: line-through;
  opacity: 0.5;
}

#taskListBlock .incomplete {  text-decoration: none }

/* STYLING TOP BAR
   ================================================== */

#logo {  line-height: 40px }

#topBarBlock > button {
  height: 30px;
  padding: 5px 10px;
  margin: 0 0 5px 15px;
}

/* STYLING GROUP BLOCK
   ================================================== */

#groupListBlock {
  padding: 10px 0;
  border-top: 2px solid #4da6ea;
  border-bottom: 2px solid #4da6ea;
}

 #groupListBlock li a h2, #groupListBlock li a p {  display: inline-block }

 #groupListBlock li a p {
   font-weight: normal;
   font-size: 0.8em;
 }

 #groupListBlock li {
   line-height: 30px;
   font-size: 1.2em;
 }

#nextGroupBtn, #prevGroupBtn {
  height: 36px;
  padding: 5px 10px;
}

/* STYLING TASK BLOCK
   ================================================== */

#taskListBlock {
  border: 2px solid #4da6ea;
  border-radius: 3px;
}

 #taskListBlock li a {
   line-height: 35px;
   min-height: 50px;
   display: block;
   border-bottom: 1px dashed #CCC;
   background: #FEFEFE;
   padding-left: 10px;
 }

 #taskListBlock li:last-child a {  border-bottom: none }

 #taskListBlock li img {
   display: block;
   width: 160px;
   height: 120px;
   float: left;
   margin: 10px;
   border: 2px solid #4da6ea;
 }

 #taskListBlock li:nth-child(2n) a {  background: #EEEEEE }

 #taskListBlock li {  position: relative }

 #taskListBlock p {
   line-height: 15px;
   font-weight: normal;
   padding-bottom: 10px;
   padding-right: 50px;
   white-space: pre-wrap;
 }

 #taskListBlock li .action {
   cursor: pointer;
   position: absolute;
   right: 0;
   top: 50%;
   margin-top: -24px;
   width: 48px;
   height: 48px;
   background: transparent url('../images/menu.png');
 }

/* NEW TASK FORM
   ================================================== */

.popup {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -160px;
  margin-top: 0px;
  border: 4px solid #4da6ea;
  background: #EEEEEE;
  padding: 10px;
}

 .popup label {
   display: inline-block;
   width: 280px;
   border-bottom: 1px dotted #3388CC;
   margin-bottom: 10px;
 }

 .popup input, .popup select, .popup textarea {
   width: 280px;
   margin: 0;
   height: 30px;
   border: none;
   border: 1px solid #4da6ea;
   padding-left: 5px;
   margin-bottom: 20px;
 }

 .popup textarea {
   height: 50px;
   resize: vertical;
   max-height: 150px;
 }

 .popup .btn {
   width: 130px;
   border: 2px solid #4da6ea;
   height: 40px;
 }

 .popup h2 {  margin-bottom: 15px }

 .popup .form-btns {
   width: 100%;
   margin-top: 35px;
   text-align: center;
 }

 .popup .warning {
   display: inline-block;
   width: 240px;
   margin: 0;
 }